.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  transition: width 0.3s ease;
  
}

.sidebar.collapsed {
  width: 100px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #eaeaea;
}
.toggle-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}